.menu-day:first-child {
    margin-bottom: 0em;
    margin-top: 0em;
}

.menu-day {
    margin-bottom: 0em;
    margin-top: 1em;
    padding: 0.3em;
}

.menu-day {
    background-color: rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.menu-day.selected {
    background-color: rgba(34, 137, 197, 0.22);
}

.meal.selected {
    background-color: rgba(34, 137, 197, 0.22);
}

.meal .meal-label {
    text-transform:uppercase;
    display: block;
}

.meal .dish {
    margin-left: 1em;
    margin-top: 1em;

    border-width: 1px;
    border-color: burlywood;
    border-style: solid;

    border-radius: 1em;
    padding: 0.5em;

    white-space: nowrap;

    display: inline-block;
}